html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.background-wallpaper{
  background-image: url("https://media.istockphoto.com/id/1141333760/photo/healthcare-professionals-during-a-meeting-at-the-hospital.jpg?s=612x612&w=0&k=20&c=k7j0mmbdKEuSzrPztNlGIyJuhiePMVICaXAhKL-AR-A=");
  background-size: cover;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
  color: white;
  position: relative;
  top: 0px; 
  left: -400px;
}
.form-signin .form-control {
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin .fn{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin .ln{    
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin .ea {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.poss{
  position: relative;
  top: 0px; 
  left: -400px;
}
.mt{
  position: relative;
  top: 10px;
}